@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @Html.Action("KategorieMenu", "Motocykle")


    <div id="KategorieListPrawaSekcja">
        <section class="SekcjaKoszyk">
            <div class="SekcjaHeader">
                <h1>
                    @RenderSection("SectionTitle", required: false)
                </h1>
            </div>
            @RenderBody()
        </section>
    </div>


@section Scripts
{
    @RenderSection("Scripts", required: false)
}
