
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>onas</h2>

<div>
    Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</div>
