
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="center">Regulamin</h2>

<article class="main-article">
    <p>
        Fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mau.
    </p>

    <p>
        Fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mau.
    </p>

    <p>
        Fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mau.
    </p>

    <p>
        Fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mau.
    </p>

    <p>
        Fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mau.
    </p>
</article>